@model Projekt_Programim_MVC.Models.Makina

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Makina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modeli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pershkrimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vit_Prodhimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vit_Prodhimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERezervuar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERezervuar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kosto1Dite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kosto1Dite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipi.Emri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
