@model Projekt_Programim_MVC.Models.Makina

@{
    ViewData["Title"] = "Detajet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading" style="text-align: center;"> <span>Detajet</span> </h1>
<div class="details-content">
    <div class="Cipa-img-content" style="display: flex; justify-content: center;">
        <img src="~/Images/Uploaded/@Html.DisplayFor(model => model.IMG)" />
    </div>
    <div class="name">@Html.DisplayFor(model => model.Modeli)</div>
    <div class="price-c"><div class="price">Cmimi: @Html.DisplayFor(model => model.Kosto1Dite)</div></div>
    <div class="specification" style="display: flex; justify-content: space-between; width: 100%;">
        <div class="status" style="color: black; font-size: 26px;">
            Statusi: @if (!Model.ERezervuar)
            {
                <i class="fa fa-times-circle" style="color: red" aria-hidden="true"></i>
            }
            else
            {
                <i class="fa fa-check-circle" style="color: green;" aria-hidden="true"></i>
            }
        </div>
        <div style="font-size: 26px;">Viti prodhimit: @Html.DisplayFor(m => m.Vit_Prodhimi)</div>
    </div>
    @if (User.Identity.IsAuthenticated && User.Identity.Name != "admirimkorici05@gmail.com")
    {
    @if (Model.ERezervuar)
    {
        <div class="reservation" style="display: flex; justify-content: center;"><a href="/Rezervimet/Create?Mid=@Model.ID" class="btn">Rezervo</a></div>
    }
    else
    {
        <p style="text-align: center;" class="text-danger">Kjo makine nuk eshte e disponueshme per momentin!</p>
    }
    }
</div>
@if (User.Identity.Name == "admirimkorici05@gmail.com")
{
    <div style="margin-top: 20px;">
        <a class="btn" asp-action="Edit" asp-route-id="@Model.ID">Modifiko</a> |
        <a class="btn" asp-action="Delete" asp-route-id="@Model.ID">Fshi</a>
    </div>
}
<a style="margin-top: 20px;" class="btn" asp-action="Index">Ktheu mbrapa</a>
