@model IEnumerable<Projekt_Programim_MVC.Models.Rezervimet>


@{
    ViewData["Title"] = "Te gjitha rezervimet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated && User.Identity.Name == "admirimkorici05@gmail.com")
{
<h1>Rezervimet</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Rezervimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_kthimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagesa_totale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerTelefoni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Makinat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Rezervimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_kthimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagesa_totale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumerTelefoni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Makinat.Modeli)
                </td>
                <td>
                    <a class="btn" asp-action="Delete" asp-controller="Rezervimet" asp-route-id="@item.ID">E dorezuar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{ 
    <h1 class="text-danger">Nuk keni aksese ne kete seksion</h1>
}