@model Projekt_Programim_MVC.Models.Rezervimet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fshi Rezervimin</h1>

<h3>Jeni i sigurt qe deshironi ta fshini kete rezervim?</h3>
<div>
    <h4>Rezervimet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Rezervimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Rezervimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_kthimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_kthimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagesa_totale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagesa_totale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Makinat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Makinat.Modeli)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Fshi" class="btn btn-danger" /> |
        <a asp-action="Index">Ktheu mbrapa</a>
    </form>
</div>
